{% extends "admin/change_list.html" %}
{% block content %}



  <div style="width: 600px;">
    <canvas id="chart"></canvas>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    const ctx = document.getElementById('chart').getContext('2d');
    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: {{ chart_labels|safe }},
            datasets: [{
                label: 'Calls',
                data: {{ chart_data|safe }},
                backgroundColor: [
                    'rgba(75, 192, 192, 0.6)',
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(255, 206, 86, 0.6)',
                    'rgba(153, 102, 255, 0.6)',
                ]
            }]
        },
        options: {
            responsive: true
        }
    });
  </script>

  {{ block.super }}
{% endblock %}
